{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center my-4">Log In</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="{{ url_for('user.login') }}" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form-floating mb-3">
                            {{ form.username(class="form-control", placeholder="Username") }}
                            {{ form.username.label(class="form-label") }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.password(class="form-control", placeholder="Password") }}
                            {{ form.password.label(class="form-label") }}
                        </div>
                        <div class="d-grid">
                            {{ form.log_in(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 text-center">
            <p>Don't have an account? <a href="{{url_for('user.register')}}">Register</a></p>
        </div>
    </div>
</div>
{% endblock %}